* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary: #00C1AA;
    --hover: #049b89;
    --secondry: #C0A660;
    --gray: #F9F9F9;
    --white: #fff;
    --black: #434343;
    --font-medium: 'yekanbakh';
    --transition: all 0.4s ease;
}


.container {
    width: 1200px;
    margin: 0 auto;
}


body {
    direction: rtl;
    font-family: var(--font-medium)
}


/* header */

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 2px solid #eeeeee47;
}


.header .logo a img {
    max-width: 48px;
}


.header .navbar nav ul {
    display: flex;
}

.header .navbar nav ul li {
    list-style: none;
    margin-left: 20px;
    position: relative;
}

.header .navbar nav ul li::after {
    content: "";
    background: var(--primary);
    width: 0;
    height: 5px;
    position: absolute;
    right: 0;
    bottom: 0;
    transition: var(--transition);
}

.header .navbar nav ul li:hover::after {
    width: 100%;
}

.header .navbar nav ul li a {
    text-decoration: none;
    color: var(--black);
    transition: var(--transition);

}


.header .navbar nav ul li:hover a {
    color: var(--primary)
}


.header .btn-left-header a {
    text-decoration: none;
    background: var(--primary);
    padding: 10px 15px;
    color: var(--white);
    border-radius: 4px;
    transition: var(--transition);
}


.header .btn-left-header a:hover {
    background: var(--hover)
}


/*end-header */

.hero {
    display: flex;
    height: 450px;
    margin-top: 20px;
}


.hero-right {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 15px;
}

.hero-right h1 {
    font-size: 32px;
    margin-bottom: 15px;
}


.hero-right p {
    width: 350px;
    margin-bottom: 40px;
    text-align: justify;
}


.hero-right .hero-right-btn a {
    text-decoration: none;
    margin-left: 15px;
}

.hero-right .hero-right-btn a.hero-right-btn1 {
    background: var(--primary);
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 4px;
    color: var(--white);
    display: inline-flex;
    align-items: center;
    justify-content: center;

}

.hero-right .hero-right-btn a svg {
    margin-right: 5px;
    margin-bottom: 3px;
    transition: var(--transition);

}

.hero-right .hero-right-btn a:hover svg {
    transform: translateX(-3px);
}

.hero-right .hero-right-btn a.hero-right-btn2 {
    border: 1px solid var(--secondry);
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 4px;
    color: var(--secondry);
    display: inline-flex;
    align-items: center;
    justify-content: center;
}


.hero-left {
    width: 50%;
    background-image: url(/assets/img/banner.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;

}

/*end-hero*/


/*start article*/

#article {
    background-image: url(/assets/img/background.svg);
    background-repeat: repeat-x;
    width: 100%;
    background-position: center center;
    background-size: cover;
    margin-top: 100px;
}

#article .article-title {
    padding-top: 20px;
}

.article-items {
    display: grid;
    grid-template-columns: auto auto auto;
    margin-top: 30px;
    position: relative;
}


.article-items .article-item {
    background: #fff;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 8px;
    border-radius: 20px !important;
    /*box-shadow: 0 3px 15px #0000004d;*/
}

.article-items .article-item img {
    border-radius: 20px;
    max-width: 100%;
    box-shadow: 0 6px 15px rgba(۰, ۰, ۰, 0.14);
    object-fit: contain;
}


.article-items .article-item h2 {
    color: var(--primary);
    font-size: 24px;
    text-align: right;
    margin-right: 16px;
}

.article-items .article-item p {
    margin-right: 16px;
    font-size: 12px;
    text-align: right;
    padding-bottom: 17px;
}


.btn-more {
    display: flex;
    align-items: end;
    justify-content: end;
}

.btn-more a {
    display: inline-flex;
    align-items: center;
    justify-content: left;
    text-decoration: none;
    margin-top: 15px;
    background: var(--primary);
    padding: 8px 15px;
    border-radius: 50px;
    color: white;

}

/*slider-article*/

.swiper {
    width: 100%;
    height: 100%;
    padding: 20px 0;
    /*background: red;*/
}

.swiper-slide {
    text-align: center;
    font-size: 18px;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper {
    margin-left: auto;
    margin-right: auto;
}


.swiper-button-next, .swiper-rtl .swiper-button-prev {
    right: 10px;
    left: auto;
    background: #fff;
    padding: 5px;
    border-radius: 50px;
    width: 49px;
    height: 49px;
    color: #000;
    font-size: 12px !important;
    box-shadow: 2px 5px 11px #0000000f;
}

.swiper-button-next:after, .swiper-rtl .swiper-button-prev:after {
    content: 'next';
    font-size: 26px;
}

/*slider-article*/